<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>NETW SECURITY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row-fluid' style='margin-top:200px;'>
                <div class='span8 offset2' style='text-align:left;padding:30px 30px 30px 30px;border:1px solid black;min-height:500px;'>
                        <a href="/" class='btn'>home</a>
                        <a href="{% url 'logout' %}" class='btn btn-inverse pull-right'>Logout</a>
                        <a href="{% url 'changePass' %}" class='btn pull-right'>Change Password</a>
                        <a href="{% url 'editCard' %}" class='btn pull-right'>Edit Credit Card</a>
                        <br/><br/>
                        <h3>Credit Card Information</h3>
                        {% if cc %}
                            <form action="{% url 'card' %}" method='post'>{% csrf_token %}
                                <input type='text' name='de' placeholder='Credit Card number'/>
                                <input type='submit' value='Submit' class='btn'/>
                            </form>
                        {% endif %}
                        
                    </div>
            </div>
        </div>
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <script src="/media/js/bootstrap.min.js"></script>
    </body>
   
</html>