<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>NETW SECURITY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row-fluid' style='margin-top:200px;'>
                <div class='span8 offset2' style='padding:30px 30px 30px 30px;border:1px solid black;min-height:300px;'>
                    <a href="/" class='btn'>home</a>
                    <a href="{% url 'logout' %}" class='btn btn-inverse pull-right'>Logout</a>
                    <a href="{% url 'changePass' %}" class='btn pull-right'>Change Password</a>
                    <br/><br/>
                    <h3>Change Password</h3>
                    {% if suc_msg %}
                        <div class='alert alert-success pull-left' style="width:300px;">{{ suc_msg }}</div><br/><br/><br/>
                    {% endif %}

                    {% if err_msg %}
                        <div class='alert alert-error pull-left'>{{ err_msg }}</div><br/><br/><br/>
                    {% endif %}
                    <form action="{% url 'changePass' %}" method='post'>{% csrf_token %}
                        <input type='password' placeholder='Old Password' name='old_pass'/><br/>
                        <input type='password' placeholder='New Password' name='new_pass_1'/><br/>
                        <input type='password' placeholder='New Password' name='new_pass_2'/><br/>
                        <input type='submit' value='Submit' class='btn'/>
                    </form>
                </div>
            </div>
        </div>
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <script src="/media/js/bootstrap.min.js"></script>
    </body>
   
</html>