<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>NETW SECURITY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row-fluid' style='margin-top:200px;'>
                {% if user.is_anonymous %}
                    <div class='span4 offset2' style='text-align:center;padding:30px 30px 30px 30px;border:1px solid black;height:400px;'>
                        <h3>LOGIN</h3>
                        <form action='/' method='post'>{% csrf_token %}
                            <input type='text' placeholder='Email' name='email'/><br/>
                            <input type='password' placeholder='Password' name='password'/><br/>
                            <input type='submit' value='Submit' class='btn'/>
                        </form>     
                        <br/><br/>
                        <form action="{% url 'forgotPass' %}" class='pull-right' style='text-align:left;font-size:11px;' method='post'>{% csrf_token %}
                            <h6>Forgot Password?</h6>
                            {% if fp_err_msg %}
                                <div class='alert alert-error'>{{ fp_err_msg|safe }}</div>
                            {% endif %}
                            {% if fp_suc_msg %}
                                <div class='alert alert-success'>{{ fp_suc_msg }}</div>
                            {% endif %}
                            <input type='text' name='email' placeholder='Email' style='width:100px;'/>
                            <input type='submit' value='Go' class='btn' style='vertical-align:top;height:30px;'/>
                        </form>
                    </div>
                    <div class='span4' style='text-align:center;padding:30px 30px 30px 30px;border:1px solid black;height:400px;'>
                        <h3>REGISTER</h3>
                        {% if reg_err_msg %}
                            <div class='alert alert-error'>{{ reg_err_msg|safe }}</div>
                        {% endif %}
                        {% if reg_suc_msg %}
                            <div class='alert alert-success'>{{ reg_suc_msg }}</div>
                        {% endif %}
                        <form action="{% url 'register' %}" method='post'>{% csrf_token %}
                            <input type='text' name='first_name' placeholder='First Name'/><br/>
                            <input type='text' name='last_name' placeholder='Last Name'/><br/>
                            <input type='text' name='email' placeholder='Email'/><br/>
                            <input type='password' name='password' placeholder='Password'/><br/>
                            <input type='submit' value='Submit' class='btn'/>
                        </form>
                    </div>
                {% else %}
                    <div class='span8 offset2' style='text-align:left;padding:30px 30px 30px 30px;border:1px solid black;min-height:500px;'>
                        <a href="/" class='btn'>home</a>
                        <a href="{% url 'logout' %}" class='btn btn-inverse pull-right'>Logout</a>
                        <a href="{% url 'changePass' %}" class='btn pull-right'>Change Password</a>
                        <a href="{% url 'card' %}" class='btn pull-right'>Credit Card</a>
                        <br/><br/>
                        <h3>Products</h3>
                        {% for product in products %}
                            <a href="{% url 'product' product.id %}"><img src='{{product.img}}' style='height:50px;'/>&nbsp;&nbsp;&nbsp;{{ product }}</a><br/><br/>
                        {% empty %}
                            There are no products to bid on yet
                        {% endfor %}
                    </div>
                {% endif %}
                
            </div>
        </div>
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <script src="/media/js/bootstrap.min.js"></script>
    </body>
   
</html>