<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>NETW SECURITY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class='container-fluid'>
            <div class='row-fluid' style='margin-top:200px;'>
                <div class='span10 offset1' style='text-align:left;padding:30px 30px 30px 30px;border:1px solid black;min-height:300px;'>
                    <a href="/" class='btn'>home</a>
                    <a href="{% url 'logout' %}" class='btn btn-inverse pull-right'>Logout</a>
                    <a href="{% url 'changePass' %}" class='btn pull-right'>Change Password</a>
                    <br/><br/>
                    <h4>{{ product.name }}</h4>
                    <div class='span6'>
                        <img style='height:200px;' src='{{ product.img }}' class='pull-left'/>
                        {{ product.description }}<br/>

                        {% if suc_msg %}
                            <div class='alert alert-success pull-left' style="width:300px;">{{ suc_msg }}</div><br/><br/><br/>
                        {% endif %}

                        {% if err_msg %}
                            <div class='alert alert-error pull-left'>{{ err_msg }}</div><br/><br/><br/>
                        {% endif %}

                        <form action="{% url 'bid' product.id %}" method='post'>{% csrf_token %}
                            <input type='text' name='bid' placeholder='Your bid'/> 
                            <input type='submit' value='Bid' class='btn' style='vertical-align:top;height:30px;'/>
                        </form>

                        <form action="{% url 'addComment' product.id %}" method='post'>{% csrf_token %}
                            <textarea name='comment' placeholder='Comment on product...'></textarea><br/>
                            <input type='submit' class='btn' value='Post'/>
                        </form>
                    </div>
                    <div class='span4'>
                        <h4>Comments</h4>
                        {% for comment in comments %}
                            <div class='pull-left' style='width:40%'>{{ comment.user.first_name }} {{ comment.user.last_name }}: {{ comment.content }}</div>
                            <div class='pull-left' style='width:10%'>&nbsp;</div>
                            <div class='pull-right' style='width:40%;color:red;'>{{ comment.user.first_name }} {{ comment.user.last_name }}: {{ comment.content|safe }}</div>
                            <br/><br/><br/>
                        {% empty %}
                            No comments posted yet
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <script src="/media/js/bootstrap.min.js"></script>
    </body>
   
</html>